<mat-sidenav-container fullscreen>


  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button>
    </button>
      <span>PDSI-Chatter</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
